USE [master]
GO
/****** Object:  Database [ProjectManagement]    Script Date: 08/07/2025 11:19:59 SA ******/
CREATE DATABASE [ProjectManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ProjectManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjectManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ProjectManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectManagement]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 08/07/2025 11:20:00 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectMembers]    Script Date: 08/07/2025 11:20:00 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectMembers](
	[ProjectID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 08/07/2025 11:20:00 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectID] [int] NOT NULL,
	[ProjectName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](30) NULL,
	[Revenue] [decimal](18, 2) NULL,
	[StartDate] [date] NULL,
	[DueDate] [date] NULL,
	[DepartmentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SprintMembers]    Script Date: 08/07/2025 11:20:00 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SprintMembers](
	[SprintID] [int] NOT NULL,
	[ProjectID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SprintID] ASC,
	[ProjectID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sprints]    Script Date: 08/07/2025 11:20:00 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sprints](
	[SprintID] [int] NOT NULL,
	[ProjectID] [int] NOT NULL,
	[SprintName] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](30) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
 CONSTRAINT [PK_Sprints] PRIMARY KEY CLUSTERED 
(
	[SprintID] ASC,
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskMembers]    Script Date: 08/07/2025 11:20:00 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskMembers](
	[TaskID] [int] NOT NULL,
	[SprintID] [int] NOT NULL,
	[ProjectID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC,
	[SprintID] ASC,
	[ProjectID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 08/07/2025 11:20:00 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[TaskID] [int] NOT NULL,
	[SprintID] [int] NOT NULL,
	[ProjectID] [int] NOT NULL,
	[TaskName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[StartDate] [date] NULL,
	[DueDate] [date] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC,
	[SprintID] ASC,
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 08/07/2025 11:20:00 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Major] [nvarchar](100) NULL,
	[Role] [nvarchar](20) NULL,
	[DepartmentID] [int] NULL,
	[Password] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkingStatus]    Script Date: 08/07/2025 11:20:00 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkingStatus](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[WorkDate] [date] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName]) VALUES (1, N'Coding')
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName]) VALUES (2, N'Marketing')
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
INSERT [dbo].[ProjectMembers] ([ProjectID], [UserID]) VALUES (1, 2)
INSERT [dbo].[ProjectMembers] ([ProjectID], [UserID]) VALUES (1, 6)
INSERT [dbo].[ProjectMembers] ([ProjectID], [UserID]) VALUES (1, 8)
GO
INSERT [dbo].[Projects] ([ProjectID], [ProjectName], [Description], [Status], [Revenue], [StartDate], [DueDate], [DepartmentID]) VALUES (1, N'Dự án Website A', N'Thiết kế và triển khai web', N'Đang thực hiện', CAST(10000000.00 AS Decimal(18, 2)), CAST(N'2025-06-05' AS Date), CAST(N'2025-07-05' AS Date), 1)
INSERT [dbo].[Projects] ([ProjectID], [ProjectName], [Description], [Status], [Revenue], [StartDate], [DueDate], [DepartmentID]) VALUES (2, N'Dự án Website B', N'Cấu hình hạ tầng CNTT tòa nhà Bitexco', N'Đang thực hiện', CAST(500000.00 AS Decimal(18, 2)), CAST(N'2025-07-08' AS Date), CAST(N'2025-10-29' AS Date), 1)
INSERT [dbo].[Projects] ([ProjectID], [ProjectName], [Description], [Status], [Revenue], [StartDate], [DueDate], [DepartmentID]) VALUES (3, N'Dự án Backend ', N'Cài đặt Nodejs, Code backend', N'Đang thực hiện', CAST(10000.00 AS Decimal(18, 2)), CAST(N'2025-07-13' AS Date), CAST(N'2025-08-13' AS Date), 1)
GO
INSERT [dbo].[SprintMembers] ([SprintID], [ProjectID], [UserID]) VALUES (1, 1, 6)
INSERT [dbo].[SprintMembers] ([SprintID], [ProjectID], [UserID]) VALUES (1, 2, 3)
INSERT [dbo].[SprintMembers] ([SprintID], [ProjectID], [UserID]) VALUES (1, 2, 4)
GO
INSERT [dbo].[Sprints] ([SprintID], [ProjectID], [SprintName], [Description], [Status], [StartDate], [EndDate]) VALUES (1, 1, N'Sprint 1', N'Phân tích và thiết kế', N'Dang thuc hien', CAST(N'2025-06-05' AS Date), CAST(N'2025-06-12' AS Date))
INSERT [dbo].[Sprints] ([SprintID], [ProjectID], [SprintName], [Description], [Status], [StartDate], [EndDate]) VALUES (1, 2, N'Thiết kế', N'bla bla', N'Đang thực hiện', CAST(N'2025-07-09' AS Date), CAST(N'2025-07-16' AS Date))
INSERT [dbo].[Sprints] ([SprintID], [ProjectID], [SprintName], [Description], [Status], [StartDate], [EndDate]) VALUES (1, 3, N'Tao tao tao', N'may may may', N'Dang thuc hien', CAST(N'2025-07-15' AS Date), CAST(N'2025-07-13' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Major], [Role], [DepartmentID], [Password]) VALUES (1, N'Admin', N'admin@gmail.com', N'Quản trị dự án', N'Admin', 1, N'123')
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Major], [Role], [DepartmentID], [Password]) VALUES (2, N'Chau Phuong Dat', N'dat@gmail.com', N'Marketing', N'User', 2, N'2910')
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Major], [Role], [DepartmentID], [Password]) VALUES (3, N'Ho Khanh Dang', N'dang@gmail.com', N'Coding', N'User', 1, N'0711')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkingStatus] ON 

INSERT [dbo].[WorkingStatus] ([StatusID], [UserID], [WorkDate], [Status]) VALUES (1, 1, CAST(N'2025-06-10' AS Date), N'On-site')
INSERT [dbo].[WorkingStatus] ([StatusID], [UserID], [WorkDate], [Status]) VALUES (2, 2, CAST(N'2025-06-10' AS Date), N'Remote')
INSERT [dbo].[WorkingStatus] ([StatusID], [UserID], [WorkDate], [Status]) VALUES (3, 1, CAST(N'2025-06-11' AS Date), N'On-site')
GO
SET IDENTITY_INSERT [dbo].[WorkingStatus] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534D4B935CA]    Script Date: 08/07/2025 11:20:00 SA ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('') FOR [Password]
GO
ALTER TABLE [dbo].[ProjectMembers]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ProjectMembers]  WITH CHECK ADD  CONSTRAINT [FK_ProjectMembers_Projects] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Projects] ([ProjectID])
GO
ALTER TABLE [dbo].[ProjectMembers] CHECK CONSTRAINT [FK_ProjectMembers_Projects]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_Departments] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_Departments]
GO
ALTER TABLE [dbo].[SprintMembers]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[SprintMembers]  WITH CHECK ADD FOREIGN KEY([SprintID], [ProjectID])
REFERENCES [dbo].[Sprints] ([SprintID], [ProjectID])
GO
ALTER TABLE [dbo].[Sprints]  WITH CHECK ADD FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Projects] ([ProjectID])
GO
ALTER TABLE [dbo].[TaskMembers]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[TaskMembers]  WITH CHECK ADD FOREIGN KEY([TaskID], [SprintID], [ProjectID])
REFERENCES [dbo].[Tasks] ([TaskID], [SprintID], [ProjectID])
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD FOREIGN KEY([SprintID], [ProjectID])
REFERENCES [dbo].[Sprints] ([SprintID], [ProjectID])
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Sprint_Project] FOREIGN KEY([SprintID], [ProjectID])
REFERENCES [dbo].[Sprints] ([SprintID], [ProjectID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Sprint_Project]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[WorkingStatus]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
USE [master]
GO
